<section id="header" class="site header">
    <div class="header wrap"><span class="header left-side"><a class="site home" href="{{- `/` | relLangURL -}}">
                {{- $logo := site.Params.logo -}}
                {{- if $logo -}}
                <img class="site logo" src="{{- $logo | relURL -}}" alt />
                {{- end -}}
                <span class="site name">{{- site.Title | safeHTML -}}</span></a></span>
        <span class="header right-side">
            {{- partial "navigation-items.html" site.Params.nav -}}
        </span></div>
    <div>
        {{- $link := site.Params.link -}}
        {{- range $link}}
        <a href="{{- .url -}}" rel="me" target="_blank">
            {{- $logo := .logo -}}
            {{- if $logo -}}
            <img class="link logo" src="{{- $logo | relURL -}}" alt="{{- .title -}}" />
            {{- else -}}
            {{- .title -}}
            {{- end -}}
        </a>
        {{- end -}}
    </div>
    {{- with site.Params.slogan -}}
        <div class="site slogan"><span class="title">{{- . | safeHTML -}}</span></div>
    {{- end -}}
</section>