{{- define "main" -}}
<article class="h-entry">
{{- partial "article-header.html" . -}}
{{- $justify := false -}}
{{- if eq .Params.justify true -}} {{- $justify = true -}} {{- end -}}
<div class="article markdown-body e-content" {{- if $justify -}}style="text-align: justify;" {{- end -}}>
    {{- .Content -}}
</div>
{{- partial "article-author.html" . -}}
{{- partial "article-labels.html" . -}}
{{- partial "article-license.html" . -}}
</article>
{{- partial "article-bottom-navigation.html" . -}}
{{- partial "article-comments.html" . -}}
{{- end -}}