:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', 'Segoe UI', 
                Ubuntu, Roboto, Oxygen, Cantarell, 'Fira Sans', 'Droid Sans',
                'Helvetica Neue', Helvetica, Arial, Verdana, 'Lucida Grande', 
                sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
}

body {
  display: block;
  color: rgba(0,0,0,.85);
  background-color: #f9f9fd;

  word-break: normal;
  word-wrap: break-word;
  
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;

  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);

  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

blockquote,
q {
  quotes: none;
  margin: 0;
}

mark,
::selection {
  background-color: rgba(12, 242, 143, .2);
}

mark {
  padding-left: .15em;
  padding-right: .15em;
  border-radius: 3px;
}

code,
tt,
kbd,
samp {
  font-family: Menlo, Consolas, 'Liberation Mono', monospace;
  font-weight: 400;
  font-size: 85%;
}

pre {
  display: block;
  line-height: 1.45;
  text-align: left;
  font-size: 12px;
  margin: 0;
  padding: 6px 16px;
  background-color: #f9fafa;
  border-radius: 6px;
  border: 1px solid #e6e6e6;

  -o-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;

  overflow: auto;
}

code,
kbd,
tt,
samp {
  color: #c41a16;
}

pre code,
pre kbd,
pre tt,
pre samp {
  display: inline;
  font-size: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

a {
  color: #007aff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-decoration-skip: objects;
  -moz-text-decoration-skip: objects;
  text-decoration-skip: objects;
}

a:hover {
  text-decoration: underline;
}

del {
  opacity: 0.5;
}

abbr,
acronym {
  cursor: help;
}

.image-container,
.image-container .link,
.image-container .caption {
  display: block;
}

.image-container {
  text-align: center;
}

.image-container .link {
  line-height: 1;
}

.image-container .caption {
  line-height: 1.5;
}

.image-container .title {
  display: inline-block;
  opacity: .65;
  font-size: 15px;
  text-align: initial;
  min-height: 22px;
  padding: 10px 5px;
}

.base-body {
  display: block;
  margin: -1px auto;
  max-width: 830px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  overflow: hidden;
}

.site.header {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 64px;
}

.header.wrap {
  text-align: justify;
  font-size: 1px;
}

.header.wrap::after {
  display: inline-block;
  content: "";
  width: 100%;
}

.header.wrap,
.nav.wrap {
  margin-top: -5px;
}

.header.wrap>*,
.nav.wrap>* {
  margin-top: 5px;
}

.header.left-side,
.header.right-side {
  display: inline-block;
  font-size: 17px;
  text-align: initial;
}

.site.home:hover {
  opacity: 0.5;
  text-decoration: none;
}

.site.logo {
  height: 42px;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 8px;
}

.site.name {
  color: rgba(0,0,0,.85);
}

.site.slogan {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.site.slogan .title {
  display: inline-block;
  text-align: initial;
  color: #4a5560;
  min-height: 22px;
  padding: 10px 10px 6px;
  border-bottom: 1px solid #e6e6e6;
}

.link.logo {
  height: 16px;
  border-radius: 1px;
  vertical-align: middle;
  margin-right: 4px;
}

.nav.item {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  padding: 4px 6px;
  margin: 5px 5px 5px 0;
  border-radius: 20px;
}

.footer {
  font-size: 12px;
  color: #4a5560;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-wrap {
  display: block;
  text-align: center;
}

.date {
  font-size: 13px;
}

.langs {
  display: inline-block;
  list-style: none;
  font-size: 15px;
}

.lang {
  margin-left: 10px;
}

.note.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.note.list .item {
  width: 100%;
  margin: 5px 0 10px 0;
  background-color: #fff;
}

.note.list .item>a:hover,
.nav.item:hover {
  opacity: .5;
  text-decoration: none;
}

.tag:hover,
.category:hover {
  opacity: .5;
  text-decoration: none;
}

.note {
  color: rgba(0,0,0,.85);
  display: block;
  text-decoration: none;
}

.note:hover {
  text-decoration: none;
}

.note.title,
.site.name {
  font-size: 17px;
  font-weight: 700;
}

.note.date {
  color: #4a5560;
}

.note.content {
  font-size: 15px;
}

.mldr {
  opacity: .5;
  font-size: 85%;
}

.note.title,
.note.date,
.note.content,
.note.imgs,
.note.labels {
  margin: 5px 0;
}

.note.imgs {
  display: block;
  border: 0px solid transparent;
  line-height: 1;
}

.note.imgs .img {
  object-fit: cover;
  height: 80px;
  min-width: 80px;
  max-width: 120px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  margin: 5px 0 0 5px;
}

.article.header {
  margin-bottom: 20px;
}

.article.date {
  color: #4a5560;
  margin-top: 20px;
}

.tag,
.category {
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  padding: 4px 6px;
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  border: 1px solid #e6e6e6;
}

.tag {
  color: #c41a16;
  background-color: #f2f2f6;
}

.category {
  color: #fff;
  background-color: #eb7350;
}

.article.labels,
.article.license,
.article.navigation,
.article.discussion {
  margin-top: 20px;
}

.article.discussion {
  border-top: 1px dashed #e6e6e6;
  border-bottom: 1px dashed #e6e6e6;
}

.article.navigation p {
  margin: 0;
}

.article.navigation p+p {
  margin-top: 5px;
}

.article.navigation .link {
  font-weight: 700;
}

.article.navigation .li {
  display: inline-block;
  font-size: 85%;
  opacity: .5;
  margin-right: 5px;
}

.article.license {
  font-size: 15px;
  text-align: center;
}

.pagination {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  list-style: none;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.pagination ul li {
  display: inline;
}

.pagination ul li a {
  color: #007aff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination ul li a.active {
  background-color: #007aff;
  color: #fff;
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(0, 122, 255, .5);
}

.note.content,
.article.markdown-body {
  color: rgba(0,0,0,.6);
}

.note.list .item,
.article.markdown-body {
  padding: 20px;
  border-radius: 6px;
}

@media (max-width: 500px) {
  .note.list .item,
  .article.markdown-body {
    border-radius: 0;
  }

  .note.list,
  .article.markdown-body {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.article.markdown-body {
  background-color: #fff;
}

.article.markdown-body {
  display: block;
  
  margin-top: 20px;
  margin-bottom: 20px;
}

.article.markdown-body h1,
.article.markdown-body h2,
.article.markdown-body h3,
.article.markdown-body h4,
.article.markdown-body h5,
.article.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 20px;
}

.article.markdown-body h1,
.article.markdown-body h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #e6e6e6;
}

.article.markdown-body blockquote,
.article.markdown-body q {
  opacity: .85;
}

.article.markdown-body blockquote {
  padding: 0 1em;
  border-left: .25em solid #75a4f8;
}

.article.markdown-body q::before,
.article.markdown-body q::after {
  opacity: .6;
}

.article.markdown-body q::before {
  /* ❝ */
  content: "\275D";
}

.article.markdown-body q::after {
  /* ❞ */
  content: "\275E";
}

.article.markdown-body ol,
.article.markdown-body ul {
  margin-bottom: 20px;
  margin-block-end: 20px;
  -webkit-margin-after: 20px;

  padding-inline-start: 40px;
  -webkit-padding-start: 40px;
  padding-left: 40px;
}

.article.markdown-body hr {
  opacity: .4;
  border-top-style: dashed;
  border-top-color: inherit;
}

.article.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.article.markdown-body table tr {
  border: 0;
}

.article.markdown-body table th {
  font-weight: 700;
}

.article.markdown-body table td,
.article.markdown-body table th {
  min-width: 86px;
  padding: 6px 13px;
  border: 1px solid #e6e6e6;
}

.article.markdown-body table th:empty {
  padding: 0;
  border: 0;
}

.article.markdown-body .plstable th {
  max-width: 25%;
}

.article.markdown-body li+li {
  margin-top: 20px;
}

.article.markdown-body>*,
.article.markdown-body li>*,
.article.markdown-body blockquote>*,
.article.markdown-body .footnotes>* {
  margin-top: 0;
  margin-bottom: 20px;
}

.article.markdown-body> :first-child,
.article.markdown-body li> :first-child,
.article.markdown-body blockquote> :first-child {
  margin-top: 0;
}

.article.markdown-body> :last-child,
.article.markdown-body li> :last-child,
.article.markdown-body blockquote> :last-child {
  margin-bottom: 0;
}

.base-body {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 414px) {
  .base-body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 15px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 19px;
  }

  h5 {
    font-size: 17px;
  }

  h6 {
    font-size: 15px;
  }

  .header.left-side,
  .header.right-side {
    font-size: 15px;
  }

  .base-body {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* mathjax & katex patch */
.article.markdown-body .katex,
.article.markdown-body .MathJax,
.article.markdown-body .katex-display,
.article.markdown-body .MathJax_Display {
  margin: 0;
  padding: .2em .4em;
}

.article.markdown-body .MathJax {
  outline: none;
}

/* chroma lntable patch */
.article.markdown-body .lntable {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}

.article.markdown-body .lntable .lntd .lnt {
  display: block;
  margin: 0;
  padding: 0;
}

.article.markdown-body .lntable .lntd {
  min-width: 0;
  padding: 0 5px;
  border: 0;
}

.article.markdown-body .lntable .lntd pre {
  overflow: visible;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  border: 0;
}

.article.markdown-body .lntable tr>:first-child {
  border-right: 1px dashed #e6e6e6;
}
