{{- $copyright := . -}}
<div class="footer-wrap">
    <p class="copyright"> <a class="h-card" href="{{ site.BaseURL }}">{{ $copyright }}</a></p>
    <p class="powerby"><span>Powered by </span><a href="https://gohugo.io" 
        target="_blank">Hugo</a><span> and the </span><a href="https://themes.gohugo.io/hugo-notepadium/" 
        target="_blank">Notepadium</a></p>
</div>